[submodule "third_party/pinocchio"]
	path = third_party/pinocchio
	url = https://github.com/120090162/pinocchio.git
	branch = pin4
[submodule "cmake"]
	path = cmake
	url = https://github.com/jrl-umi3218/jrl-cmakemodules.git
[submodule "third_party/Clarabel"]
	path = third_party/Clarabel
	url = https://github.com/oxfordcontrol/Clarabel.cpp.git
